.next/
node_modules/
.env
.env.local
.env*.local
npm-debug.log*
.DS_Store
*.tsbuildinfo
next-env.d.ts
/coverage
firebase-debug.log
firestore-debug.log

# Desktop ilova (Electron) - yig'ilgan fayllar GitHub Actions'da yasaladi
desktop/dist/
desktop/node_modules/
